# Default ignored files
/shelf/
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# IntelliJ
/.idea/*
# .class folder
/bin/

# Don't give away inputs
**/input.txt
# Nor outputs, just in case
**/output.txt

AOC2024.iml
